{% block main %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Anodos{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/foundation.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/ns-default.css">
	<link rel="stylesheet" href="/static/css/ns-style-growl.css">
	<link rel="stylesheet" href="/static/css/fotorama.css">
	<link rel="stylesheet" href="/static/css/template.css">
	<script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>

<header>
	<!-- Логотип -->
	<div class="row hide-for-small-only">
		<div class="medium-6 large-4 columns"><h1><a href="/">Anodos</a></h1></div>
		<div class="medium-6 large-8 columns text-right">Сайт разрабатывается.</div>
	</div>

	<!-- Панель навигации -->
	<div class="row">
		<div class="contain-to-grid">
			<nav class="top-bar" data-topbar role="navigation">

				<!-- Логотип для смарфонов -->
				<ul class="title-area show-for-small-only">
					<li class="name">
						<h1><a href="/">Anodos</a></h1>
					</li>
					<!-- Вызов меню для смартфонов -->
					<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
				</ul>

				<section class="top-bar-section">

					<!-- Меню -->
					<ul class="left">
						<li><a href="/news/">Новости и мероприятия</a></li>
						<li><a href="/solutions/">Решения</a></li>
						<li class="has-dropdown">
							<a href="#">Товары и услуги</a>
							<ul class="dropdown">

								<li><a href="/catalog/products/">Каталог товаров и услуг</a></li>
								<li><a href="/catalog/order/">Текущий заказ</a></li>

								{% if user.is_authenticated %}
								<li><a href="/catalog/orders/">Заказы</a></li>
								{% endif %}

								{% if perms.catalog.add_updater or perms.catalog.change_updater %}
								<li><a href="/catalog/updaters/">Загрузчики</a></li>
								{% endif %}

								{% if perms.catalog.add_category or perms.catalog.change_category %}
								<li><a href="/catalog/categories/">Категории товаров</a></li>
								{% endif %}

								{% if perms.catalog.add_categorysynonym or perms.catalog.change_categorysynonym %}
								<li><a href="/catalog/categorysynonyms/">Синонимы категорий</a></li>
								{% endif %}

								{% if perms.catalog.add_vendor or perms.catalog.change_vendor %}
								<li><a href="/catalog/vendors/">Производители</a></li>
								{% endif %}

								{% if perms.catalog.add_vendorsynonym or perms.catalog.change_vendorsynonym %}
								<li><a href="/catalog/vendorsynonyms/">Синонимы производителей</a></li>
								{% endif %}

								{% if perms.catalog.add_distributor or perms.catalog.change_distributor %}
								<li><a href="/catalog/distributors/">Поставщики</a></li>
								{% endif %}

								{% if perms.catalog.add_stock or perms.catalog.change_stock %}
								<li><a href="/catalog/stocks/">Склады</a></li>
								{% endif %}

								{% if perms.catalog.add_pricetype or perms.catalog.change_pricetype %}
								<li><a href="/catalog/pricetypes/">Типы цен и наценки</a></li>
								{% endif %}

								{% if perms.catalog.add_currency or perms.catalog.change_currency %}
								<li><a href="/catalog/currencies/">Валюты и их курсы</a></li>
								{% endif %}

								{% if perms.catalog.add_parameter or perms.catalog.change_parameter %}
								<li><a href="/catalog/parameters/">Параметры</a></li>
								{% endif %}

								{% if perms.catalog.add_parametertype or perms.catalog.change_parametertype %}
								<li><a href="/catalog/parametertypes/">Типы данных параметров</a></li>
								{% endif %}

								{% if perms.catalog.add_parametersynonym or perms.catalog.change_parametersynonym %}
								<li><a href="/catalog/parametersynonyms/">Синонимы параметров</a></li>
								{% endif %}

								{% if perms.catalog.add_parametervalue or perms.catalog.change_parametervalue %}
								<li><a href="/catalog/parametervalues/">Значения параметров</a></li>
								{% endif %}

								{% if perms.catalog.add_parametervaluesynonym or perms.catalog.change_parametervaluesynonym %}
								<li><a href="/catalog/parametervaluesynonyms/">Синонимы значений параметров</a></li>
								{% endif %}

							</ul>
						</li>
						<li class="has-dropdown">
							<a href="#">Тендеры</a>
							<ul class="dropdown">
								{% if user.is_authenticated %}
								<li><a href="/tenders/updaters/">Загрузчики</a></li>
								<li><a href="/tenders/regions/">Регионы</a></li>
								<li><a href="/tenders/plan-graphs/">Планы-графики</a></li>
								<li><a href="/tenders/plan-graph-positions/">Позиции планов-графиков</a></li>
								<li><a href="/tenders/query-filters/">Фильтры запросов</a></li>
								{% endif %}
								<li><a href="/tenders/essences/">Справочники</a></li>
							</ul>
						</li>
						{% if perms.project.change_article %}
						<li class="has-dropdown">
							<a href="#">Контент</a>
							<ul class="dropdown">
								<li><a href="/articles/">Документы и статьи</a></li>
								<li><a href="/categories/">Категории</a></li>
								<li><a href="/doc-types/">Типы документов</a></li>
								<li><a href="/languages/">Языки</a></li>
								<li><a href="/logs/">Логи</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>

					<!-- Поиск и авторизация -->
					<ul class="right">
						<li class="has-form">
							{% if user.is_authenticated %}
							<button data-reveal-id="profileModal"><i class="fa fa-unlock"></i></button>
							{% else %}
							<button data-reveal-id="loginModal"><i class="fa fa-lock"></i><span class="hide-for-medium">&nbsp;Войти</span></button>
							{% endif %}
						</li>
						<li class="divider"></li>
						{% block search %}
						<li class="divider"></li>
						<li class="has-form">
							<div class="row collapse">
								<div class="large-8 small-9 columns">
									<input type="text" placeholder="Найти...">
								</div>
								<div class="large-4 small-3 columns">
									<a href="#" class="secondary button expand"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</li>
						{% endblock %}

					</ul>
				</section>
			</nav>
		</div>
	</div>

	<!-- Крошки -->
	<div class="row">
	&nbsp;
	</div>
</header>

<main>
{% block content %}<div class="row">&nbsp;</div>{% endblock %}
</main>

<footer class="row">
	<div class="large-12 columns">
	<hr />
	<div class="row">
		<div class="large-12 columns text-center">&copy;&nbsp;<a href="mailto:root@anodos.ru">Андрей Безпалов</a></div>
	</div>
</footer>

{% include "project/modal/login.html" %}

<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/fastclick.js"></script>
<script src="/static/js/vendor/classie.js"></script>
<script src="/static/js/vendor/notificationFx.js"></script>
<script src="/static/js/vendor/fotorama.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script src="/static/js/foundation/foundation.topbar.js"></script>
<script src="/static/js/foundation/foundation.reveal.js"></script>

<script>
$(document).foundation();
{% include "project/js/login.js" %}
</script>

{% block js-content %}
{% endblock %}

{% block metrika %}
{% include "metrika.html" %}
{% endblock %}

</body>
</html>
{% endblock %}
