{% extends "main.html" %}
{% block title %}Anodos{% endblock %}


{% block content %}
<div class="row">
	<div class="small-12 columns">
		<h3>{{ product.name }}</h3>
	</div>
</div>

<div class="row">
	<div class="large-8 medium-6 columns">
		{% for article in articles %}
		<div>
			<h3><a href="article/{{ article.id }}">{{ article.title}}</a></h3>
			<p>{% autoescape off %}{{ article.intro}}{% endautoescape %}</p>
		</div>
		{% endfor %}
	</div>
	<div class="large-4 medium-6 columns">
		<div>Тест: вторичный контент и реклама.</div>
		<div>Тест: вторичный контент и реклама.</div>
		<div>Тест: вторичный контент и реклама.</div>
	</div>
</div>
{% endblock %}


{% block js-content %}
{% endblock %}
